FTP_HOST=ftp.cluster129.hosting.ovh.net
FTP_USER=ecobsoleiq
FTP_PORT=21
FTP_REMOTE_DIR=/www
FTP_PASS=your-ftp-password
PUBLIC_SITE_URL_PROD=https://www.lelectronrare.fr/
PUBLIC_SITE_URL_PREVIEW=https://www.lelectronrare.fr/preview/
FTP_DNS_RETRIES=5
FTP_DNS_DELAY=2
